{% extends 'templates.base.html' %}
{% load static %}
{% block content %}
<div class="home-container">
    <h1 class="home-title">
        Encontre, inspire e<br>
        compartilhe seus projetos com<br>
        a onNexus
    </h1>
    <div class="posts">
        <h2 class="area-title2">Postagens</h2>
        <ul class="posts-list">
            {% for post in posts %}
            <li class="post">
                <a href="#">
                    <img class="post-image" src="{{ post.image.url }}" alt="">
                </a>
                <div class="post-info">
                    <img class="profile-image" src="{% static '/images/' %}{{post.profile}}" alt="">
                    <p>{{ post.username }}</p>
                    <img class="post-icons" src="{% static '/images/favorites.png' %}" alt="">
                    <p>{{ post.favorites }}</p>
                    <img class="post-icons" src="{% static '/images/views.png' %}" alt="">
                    <p>{{ post.views }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
        
    </div>
</div>
<div class="courses-area2">
	<h2 class="area-title3">Cursos</h2>
	<div class="courses-list">
		{% for course in courses %}
		<div class="course-card">
			<div class="course-thumb">
				{% if course.video_thumbnail %}
					<img src="{{ course.video_thumbnail.url }}" alt="Thumbnail do curso">
				{% else %}
					<div class="thumb-placeholder">Não disponível</div>
				{% endif %}
			</div>
			<div class="course-info">
				<h3>{{ course.title }}</h3>
				<p>{{ course.description }}</p>
				<div class="instructor-info">
					{% if course.instructor.profile_picture %}
						<img class="instructor-avatar" src="{{ course.instructor.profile_picture.url }}" alt="{{ course.instructor.name }}">
					{% endif %}
					<span>{{ course.instructor.name }}</span>
				</div>
				<div class="course-actions">
					<span>★</span>
					<span>♡</span>
					<span>↻</span>
				</div>
			</div>
		</div>
		{% empty %}
		<p>Nenhum curso cadastrado.</p>
		{% endfor %}
        <a class="login2-btn" href="/users/login/">Faça login para prosseguir</a>
	</div>
</div>
{% endblock %}
