{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>onNexus</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <header class="header">
        <nav class="navbar">
            <ul class="nav-list">
                <li><a href="/explore">Explorar</a></li>
                <li><a href="#">Contratar</a></li>
                <li><a href="/cursos/">Cursos</a></li>
            </ul>
            <div class="logo"><a href="/">onNexus</a></div>
            <div>
                <a href="/users/login" class="login-btn">Fazer Login</a>
                <a href="#">Sair</a>
            </div>
        </nav>
    </header>
    <main>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </main>
    <footer class="footer">
        <div class="footer-content">
            <div>
                <h3>onNexus</h3>
                <ul>
                    <li><a href="#">Termos e condições</a></li>
                    <li><a href="#">Privacidade</a></li>
                    <li><a href="#">Fale conosco</a></li>
                    <li><a href="#">Sobre</a></li>
                </ul>
            </div>
            <div>
                <h3>Rede Social</h3>
                <ul>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">LinkedIn</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">© onNexus 2025. Todos os direitos reservados.</div>
    </footer>
</body>
</html>
