{% extends 'templates.base.html' %}
{% block content %}
<div class="register-container">
    <div class="register-form">
        <button class="close-btn">&times;</button>
        <h2 class="form-title">onNexus</h2>
        <div class="social-login">
            <button class="social-btn google"></button>
            <button class="social-btn facebook"></button>
        </div>
        <div class="divider">ou</div>
        <p class="login-link">Não tem uma conta? <a href="/users/register">Cadastrar</a></p>
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                {% for field in form.visible_fields %}
                <div>
                    {{ field }}
                </div>
                {% endfor %}                     
            </div>
            <button type="submit" class="submit-btn">Fazer login</button>
        </form>
    </div>
</div>
{% endblock %}
