{% extends "templates.base.html" %}
{% load static %}

{% block content %}
<div class="recovery-container">
    <div class="recovery-box">
        <a href="{% url 'courses:course_list' %}" class="close-btn">&times;</a>
        <img src="{% static 'images/logo.png' %}" alt="onNexus Logo" class="logo-form">
        <h2>Digite o código</h2>
        <p>Enviamos um código para seu email. Insira esse código para redefinir sua senha.</p>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="code" placeholder="Insira o código" required>
            </div>
            <button type="submit" class="btn-submit">Confirmar</button>
        </form>
        <a href="#" class="resend-link">Reenviar código</a>
    </div>
</div>
{% endblock %}
