{% extends 'base.html' %}
{% block content %}
<div class="register-container">
    <div class="register-form">
        <button class="close-btn">&times;</button>
        <h2 class="form-title">onNexus</h2>
        <h3>Recuperação de conta</h3>
        <p>Insira seu e-mail ou número de telefone para enviarmos um código.</p>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="email_or_phone" placeholder="Email ou telefone" required>
            <button type="submit" class="submit-btn">Continuar</button>
        </form>
    </div>
</div>
{% endblock %}
